<div class="form-container col-6 d-flex justify-content-center" id="signup-anchor">
  <%= simple_form_for(resource, as: resource_name, html: { class: "signup-form col-12" }, url: registration_path(resource_name)) do |f| %>
    <h2>Sign up</h2>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="form-col-2">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
      </div>
      <%= f.input :username %>
      <div class="form-col-2">
        <%= f.input :contact %>
        <%= f.input :photo, as: :file %>
      </div>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <div class="form-col-2">
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "button button-primary" %>
      <%= link_to "Log in", new_user_session_path, class: "button-primary-revert" %>
    </div>
  <% end %>
</div>
