<div class="chat__container">
  <div class="chat__sidebar">
    <%= render 'components/chat/chat_sidebar', chatrooms: @chatrooms %>
  </div>

  <div class="chat__chatroom-container">
    <%= render partial: 'components/chat/chat_container', locals: { chatroom: @chatroom } %>
    <%= simple_form_for [@chatroom, @message] do |f| %>
      <div class="chat__textfield-container">
        <%= f.input :content,
            label: false,
            placeholder: "Type your message",
            input_html: {class: "chat__textfield", "data-chatroom-subscription-target": "chatField"},
            wrapper_html: { class: "test" }
        %>
        <%= f.submit "Send", class: "chat__send-button btn" %>
      </div>
    <% end %>
  </div>

  <div class="chat__event-description">
    <%= render 'components/chat/chat_description' %>
  </div>
</div>
