<h1>Hello World!</h1>
<%# for testing %>

<div>
  <% @events.each do |event| %>
    <%= link_to event_path(event) do  %>
      <h1><%= event.title %></h1>
      <p><%= event.description %></p>
      <p><%= event.latitude %></p>
      <p><%= event.longitude %></p>
      <p><%= event.start_date %></p>
      <p><%= event.end_date %></p>
    <% end %>
  <% end %>
</div>
