<div class="eventindex">

  <div class="search-container-white col-12">
    <div class="search-text col-4">
      Causes
    </div>

    <div class="search-bar col-4">
      <%= form_with(url: events_path, method: "get") do |f| %>
        <%= f.button type:"submit", class: "button-search" do%>
          <i class="fa fa-search"></i>
        <% end %>
        <%= f.text_field :search, placeholder: "Search", class: "search-field" %>
      <% end %>
    </div>
  </div>

  <div class="event-container">
    <% @events.each do |event| %>
      <%= link_to event_path(event), class:"event-card" do  %>

        <% if event.photo.attached? %>
          <div class="event-card-pic-container" style="background-image: url('<%= cl_image_path event.photo.key, secure: true %>');"></div>
        <% else %>
          <div class="event-card-pic-container" style="background-image: url('<%= asset_url("placeholder-image.png") %>');"></div>
        <% end %>


        <div class="event-card-details">
          <h1><%= event.title %></h1>
          <br>
          <p><%= event.description %></p>
        </div>

        <div class="event-card-icons">
          <div class="event-card-icons-stats icons">
            <p><%= event.start_date.strftime("%d %^b") %> </p>
            <i class="fa-regular fa-calendar-days fa-2xl" style="color: #3a1700;"></i>
          </div>

          <div class="event-card-icons-country icons">
            <p><%= event.country %></p>
            <i class="fa-solid fa-location-dot fa-2xl" style="color: #3a1700;"></i>
          </div>

          <div class="event-card-icons-stats icons">
            <p><%= event.quantity %></p>
            <% case event.action %>
              <% when 'Trees to Plant' %>
                <i class="fa-solid fa-seedling fa-2xl"></i>

              <% when 'People to Help' %>
                <i class="fa-solid fa-user-injured fa-2xl"></i>

              <% when 'Batiment to Build' %>
                <i class="fa-solid fa-house-crack fa-2xl"></i>

              <% when 'Animal to Save' %>
                <i class="fa-solid fa-paw fa-2xl"></i>

              <% when 'Litter to Clean' %>
                <i class="fa-solid fa-recycle fa-2xl"></i>
            <% end %>
          </div>

        </div>
      <% end %>
    <% end %>

  </div>
</div>
