<h1>Hello World!</h1>
<%# for testing %>

<div>
  <% @events.each do |event| %>
    <%= link_to event_path(event) do  %>
    <div>
      <%= cl_image_tag "nhpgh2485vmcbd2ytsg1zlwogkw8" %>
    </div>

    <div>
      <h1><%= event.title %></h1>
      <p><%= event.description %></p>
    </div>

    <div>
      <p><%= event.start_date %></p>
      <p><%= event.country %></p>
      <p><%= event.participations.count %></p>
    </div>
    <% end %>
  <% end %>
</div>
