<div class="create-events">

  <div class="form-banner">
    <h1>Create Events</h1>
    <p>Dream big, plan diligently, create change. Your event can be the catalyst for a better world.</p>
  </div>

  <div class="event-form">
    <%= simple_form_for @event do |f| %>

      <div class="form-title">
        <%= f.input :title %>
      </div>


      <div class="form-event-row-1">

        <div class="form-start-date">
          <%= f.input :start_date %>
        </div>

        <div class="form-start-time">
          <%= f.input :start_time %>
        </div>

      </div>


      <div class="form-event-row-2">

        <div class="form-end-date">
          <%= f.input :end_date %>
        </div>

        <div class="form-end-time">
          <%= f.input :end_time %>
        </div>

      </div>


      <div class="form-event-row-3">

        <div class="form-country">
          <%= f.input :country %>
        </div>

        <div class="form-address">
          <%= f.input :address %>
        </div>

      </div>


      <div class="form-event-row-4">

        <div class="form-photo">
          <%= f.input :photo, as: :file %>
        </div>

        <div class="form-contact">
          <%= f.input :contact %>
        </div>

      </div>


      <div class="form-event-row-5">

        <div class="form-action">
          <%= f.input :action, as: :select, collection: ['Trees to Plant', 'People to Help', 'Batiment to Build', 'Animal to Save', 'Litter to Clean' ] %>
        </div>


        <div class="form-quantity">
          <%= f.input :quantity %>
        </div>

      </div>


      <div class="form-description">
        <p>Description</p>
        <%= f.text_area :description, placeholder: "min 10 - max 2000 Character" %>
      </div>

      <div class="form-button">
        <%= f.submit %>
      </div>

      <div class="back">
        <%= link_to "Cancel", :back %>
      </div>


    <% end %>
  </div>

</div>
