<h1>Hello World!</h1>
<%# for testing %>

<h2><%= @event.title %></h2>
<p><%= @event.description %></p>
<p><%= @event.latitude %></p>
<p><%= @event.longitude %></p>
<p><%= @event.start_date %></p>
<p><%= @event.end_date %></p>

<%= link_to "back", events_path  %>

<%= simple_form_for [@event, @participation] do |f| %>
  <%= f.submit "Participate" %>
<% end %>
