<div class="search-container-white col-12 mt-5">
  <div class="search-text col-4">
    My Agenda
  </div>

  <div class="search-bar col-4">
    <%= form_with(url: calendar_path, method: "get") do |f| %>
      <%= f.button type:"submit", class: "button-search" do%>
        <i class="fa fa-search"></i>
      <% end %>
      <%= f.text_field :search, placeholder: "Search", class: "search-field" %>
    <% end %>
  </div>
</div>

<div class="card-container col-8 mt-2 mb-5">
  <% @participations.each do |participation| %>
      <div class="card col-3" style="width: 18rem;">
        <%= link_to event_path(participation.event) do %>

          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, alt: "event image", class: "card-img-top"%>
          <% else %>
            <%= image_tag "logo-space.png", alt: "A planet", class: "card-img-top" %>
          <% end %>

          <div class="card-body">
            <h4 class="card-title">
              <%= participation.event.title %>
            </h4>
            <p class="card-text">
              <%= participation.event.description %>
            </p>
            <p class="card-date">
              End date: <%= participation.event.end_date %>
            </p>
            <div class="card-button d-flex flex-column">
              <%= link_to "Cancel participation", event_participation_path(participation.event, participation), data: { turbo_method: :delete }, class: "button-primary-revert" %>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>
</div>
