<div class="search-container col-12">
  <div class="search-text col-4">
    My Agenda
  </div>

  <div class="search-bar col-4">
    <%= form_with(url: calendar_path, method: "get") do |f| %>
      <%= f.button type:"submit", class: "button-search" do%>
        <i class="fa fa-search"></i>
      <% end %>
      <%= f.text_field :search, placeholder: "Search", class: "search-field" %>
    <% end %>
  </div>
</div>

<div class="card-col-2 col-8 mt-5 mb-5">
  <% @participations.each do |participation| %>
      <div class="card">
        <%= link_to event_path(participation.event) do %>

          <div class="card-img-container">
            <% if participation.event.photo.attached? %>
              <%= cl_image_tag participation.event.photo.key, alt: "event image", class: "card-img-top"%>
            <% else %>
              <%= image_tag "logo-space.png", alt: "A planet", class: "card-img-top" %>
            <% end %>
          </div>

          <div class="card-body">
            <h3 class="card-title">
              <%= participation.event.title %>
            </h3>
            <h6 class="card-date">
              <%= participation.event.start_date.strftime("%d-%m-%Y") %> to <%= participation.event.end_date.strftime("%d-%m-%Y") %>
            </h6>
            <p class="card-description">
              <%= participation.event.description %>
            </p>
              <%= link_to "Cancel participation", event_participation_path(participation.event, participation), data: { turbo_method: :delete }, class: "button-primary-revert" %>
          </div>


        <% end %>
      </div>
  <% end %>
</div>
