<div class="stat-section col-12 d-flex justify-content-center">
  <div class="complete col-2 d-flex flex-column justify-content-center align-items-center">
    <h1><%= @events_count %></h1>
    <h4>Completed events</h4>
  </div>
  <div class="icon-container col-6">
    <div class="icon-items">
      <i class="fa-solid fa-tree"></i>
      <p><%= @tree_quantity %></p>
      <p>Trees planted</p>
    </div>

    <div class="icon-items">
      <i class="fa-solid fa-person"></i>
      <p><%= @people_quantity %></p>
      <p>People helped</p>
    </div>

    <div class="icon-items">
      <i class="fa-solid fa-house-circle-check"></i>
      <p><%= @batiment_quantity %></p>
      <p>Batiment built</p>
    </div>

    <div class="icon-items">
      <i class="fa-solid fa-shield-dog"></i>
      <p><%= @animal_quantity %></p>
      <p>Animal saved</p>
    </div>

    <div class="icon-items">
      <i class="fa-solid fa-recycle"></i>
      <p><%= @litter_quantity %> t</p>
      <p>Litter cleaned</p>
    </div>
      <% @past_events.each do |past_event| %>
        <div class="icon-items">
          <div class="completed-event-container">
            <h6>-Completed-</h6>
            <%= past_event.title %>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="search-container-white col-12">
  <div class="search-text col-4">
      My Causes
    </div>

  <div class="search-bar col-4">
    <%= form_with(url: dashboard_path, method: "get") do |f| %>
      <%= f.button type:"submit", class: "button-search" do%>
        <i class="fa fa-search"></i>
      <% end %>
      <%= f.text_field :created_search, placeholder: "Search", class: "search-field" %>
    <% end %>
  </div>
</div>

<div class="card-container created-events-container col-8 my-5">
  <% @created_events.each do |created_event| %>
      <div class="card-col">
        <%= link_to event_path(created_event) do %>

          <div class="card-img-container">
            <% if created_event.photo.attached? %>
              <div class="card-img-holder" style="background-image: url('<%= cl_image_path created_event.photo.key, secure: true %>');"></div>
            <% else %>
              <%= image_tag "placeholder-image.png", alt: "A planet", class: "card-img-top" %>
            <% end %>
          </div>

          <div class="card-body">
            <h4 class="card-title">
              <%= created_event.title %>
            </h4>
            <p class="card-date">
              <%= created_event.start_date.strftime("%d-%m-%Y") %> to <%= created_event.end_date.strftime("%d-%m-%Y") %>
            </p>
            <div class="card-button d-flex flex-column">
                <%= link_to "Delete event", event_path(created_event), data: { turbo_method: :delete, turbo_confirm: ("Are you sure?") }, class: "button-primary-revert" %>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>
</div>




<%# search for agenda %>
<div class="search-container-white col-12">
  <div class="search-text col-4">
      My Participations
  </div>

  <div class="search-bar col-4">
    <%= form_with(url: dashboard_path, method: "get") do |f| %>
      <%= f.button type:"submit", class: "button-search" do%>
        <i class="fa fa-search"></i>
      <% end %>
      <%= f.text_field :search, placeholder: "Search", class: "search-field" %>
    <% end %>
  </div>
</div>

<div class="card-container col-8 my-5">
  <% @participations.each do |participation| %>
      <div class="card-col">
        <%= link_to event_path(participation.event) do %>

          <div class="card-img-container">
            <% if participation.event.photo.attached? %>
              <div class="card-img-holder" style="background-image: url('<%= cl_image_path participation.event.photo.key, secure: true %>');"></div>
            <% else %>
              <%= image_tag "placeholder-image.png", alt: "A planet", class: "card-img-top" %>
            <% end %>
          </div>

          <div class="card-body">
            <h4 class="card-title">
              <%= participation.event.title %>
            </h4>
            <p class="card-date">
              Start date: <%= participation.event.start_date %>
              </p>
            <div class="card-button d-flex flex-column">
              <div class="card-button d-flex flex-column">
                <%= link_to "Cancel participation", event_participation_path(participation.event, participation), data: { turbo_method: :delete, turbo_confirm: ("Are you sure?") }, class: "button-primary-revert" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>
</div>
