<div class="stat-section col-12 d-flex justify-content-center">
  <div class="complete col-3 d-flex justify-content-center align-items-center">
    <h2><%= @events_count %></h2>
    <h3>Completed events</h3>
  </div>
  <div class="icon-container col-5">
    <div class="icon-items">
      <i class="fa-solid fa-tree"></i>
      <p>130</p>
      <p>Trees planted</p>
    </div>

    <div class="icon-items">
      <i class="fa-solid fa-person"></i>
      <p>79</p>
      <p>People helped</p>
    </div>

    <div class="icon-items">
      <i class="fa-solid fa-house-circle-check"></i>
      <p>32</p>
      <p>Batiment built</p>
    </div>

    <div class="icon-items">
      <i class="fa-solid fa-shield-dog"></i>
      <p>12</p>
      <p>Animal saved</p>
    </div>

    <div class="icon-items">
      <i class="fa-solid fa-recycle"></i>
      <p>56 t</p>
      <p>Litter cleaned</p>
    </div>


  </div>
</div>

<div class="search-container-white col-12">
  <div class="search-text col-4">
      My Agenda
    </div>

  <div class="search-bar col-4">
    <%= form_with(url: calendar_path, method: "get") do |f| %>
      <%= f.button type:"submit", class: "button-search" do%>
        <i class="fa fa-search"></i>
      <% end %>
      <%= f.text_field :search, placeholder: "Search", class: "search-field" %>
    <% end %>
  </div>
</div>

<div class="card-container col-8 my-5">
  <% @events.each do |event| %>
      <div class="card col-3" style="width: 18rem;">
        <%= link_to event_path(event) do %>

          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, alt: "event image", class: "card-img-top"%>
          <% else %>
            <%= image_tag "logo-space.png", alt: "A planet", class: "card-img-top" %>
          <% end %>

          <div class="card-body">
            <h3 class="card-title">
              <%= event.title %>
            </h3>
            <p class="card-text">
              <%= event.description %>
            </p>
            <p class="card-date">
              End date: <%= event.end_date %>
              </p>
            <div class="card-button d-flex flex-column">
              <%= link_to "Cancel participation", dashboard_path, class: "button-primary-revert" %>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>
</div>
