<div class="participant-container">
  <% participant_count = @participants.size %>
  <div class="heading">Participants - <%= participant_count %></div>

  <div class="container text-center participants-container">
    <% @participants.each do |user| %>
        <div>
          <% if current_user.photo.attached? %>
            <%= image_tag user.photo.url, alt: "text", class: "avatar-large" %>
          <% else %>
            <%= image_tag asset_path('placeholder-image.png'), alt: "text", class: "avatar-large" %>
          <% end %>
          <div class="name">
            <%= user.first_name %> <%= user.last_name %>
          </div>
          <div class="username">
            <%= user.username%>
          </div>
        </div>
    <% end %>
  </div>
</div>
